#################
# Klaatu services

service powermanager /system/bin/klaatu_powermanager
    class klaatu_programs 
    user system 
    group system 

service permcontroller /system/bin/klaatu_permissioncontroller
    class klaatu_programs 
    user root
    group system 

service schedmanager /system/bin/klaatu_schedulingmanager
    class klaatu_programs 
    user root
    group system 

service wifiservice /system/bin/klaatu_wifiservice
    class klaatu_programs 
    user root 
    group system 

service phoneservice /system/bin/klaatu_phoneservice
    class klaatu_programs 
    user radio
    group radio

service klaatu /system/bin/logwrapper /system/bin/klaatu_qmlscene /system/examples/nexus/qml/nexus.qml
    class klaatu_programs 
    user root 
    group system 
    setenv QML_IMPORT_PATH /system/imports:/system/examples/nexus/qml/import
    setenv QT_QPA_FONTDIR /system/lib/fonts
    setenv QT_PLUGIN_PATH /system/plugins

service volumeDefaults /system/bin/klaatu_audioconfig setdefaults    
    class klaatu_programs
    user root
    group system
    oneshot

service InitHostname /system/bin/hostname_init.sh
    class core
    user root
    group root
    oneshot

# Use the sys.ui.config property to switch modes

on property:sys.ui.config=none
   stop powermanager
   stop permcontroller
   stop schedmanager
   stop wifiservice
   stop phoneservice
   stop klaatu
   stop zygote
   setprop sys.ui.state ${sys.ui.config}

on property:sys.ui.config=zygote
   stop powermanager
   stop permcontroller
   stop schedmanager
   stop wifiservice
   stop phoneservice
   stop klaatu
   start zygote
   setprop sys.ui.state ${sys.ui.config}

on property:sys.ui.config=klaatu
   stop zygote
   start powermanager
   start permcontroller
   start schedmanager
   start wifiservice
   start phoneservice
   start klaatu
   start volumeDefaults
   start InitHostname
   setprop sys.ui.state ${sys.ui.config}

# To restart the current ui, set sys.ui.restart = true

on property:sys.ui.restart=true
   setprop sys.ui.restart ${sys.ui.config}

on property:sys.ui.restart=zygote
   restart zygote

on property:sys.ui.restart=klaatu
   restart klaatu

# Use the "persist.sys.ui.config" property to set what UI we wish
# to boot into.
#
# To make this permanent, set "persist.sys.ui.config=klaatu" in default.prop

on property:persist.sys.ui.config=*
   setprop sys.ui.config ${persist.sys.ui.config}

